.panelContainer {
  position: relative;
  height: 100vh;
  margin-top: -2px;
}
.panelContainer,
.react-tabs__tab-panel {
  width: 25vw;
}
.react-tabs__tab-list {
  background: transparent;
  border: 0;
  margin: -1px 0 0 0;

  display: flex;
}
.react-tabs__tab {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: bold;
  padding: 0;
  text-align: center;
  background: #43a3f0;
  color: #fff;
  border-radius: 0;
  height: 8vh;
  width: 25%;
  border: 0;
}
.react-tabs__tab:hover {
  opacity: 0.9;
}
.react-tabs__tab::after {
  display: none;
}
.react-tabs__tab--selected {
  background: #fff;
  color: #43a3f0;
}
.react-tabs__tab--selected:hover {
  opacity: 1;
  cursor: auto;
}
.react-tabs__tab-panel {
  position: relative;
  height: auto;
  background: #fff;
  color: #000;
  border-top-left-radius: 30px 30px 0 0;
  height: 92vh;
  overflow: auto;
}
.__react_component_tooltip,
[data-id="tooltip"] {
  z-index: 99999;
}
sub {
  font-weight: 400;
  margin-left: 3px;
}
