#infoContainer {
  /* display: flex; */
  flex-direction: column;
  color: white;
  max-height: 80%;
  width: 25vw;
  justify-content: space-between;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  padding: 0 20px;
  margin-top: 60px;
  word-break: break-word;
  display: none;
}
.displayInfo {
  display: flex !important;
}

.activeContainer {
  margin: 0 25px;
}

.activeItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.activeContainer img {
  padding-left: 10px;
}

.infoContainer h2 {
  margin-bottom: 0px;
}
/* 
@media (min-width: 320px) and (max-width: 1200px) {
  .infoContainer {
    display: none;
  }
} */
