#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #f0f0f0;
}

.joinInnerContainer {
  width: 25%;
  /* padding: 0 125px; */
}

.joinInput {
  border: 0;
  border-radius: 30px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: #444;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #444;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #43a3f0;
  padding: 15px 20px;
  border-radius: 30px;
  display: inline-block;
  border: none;
  width: 100%;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  /* transform: scale(0.97); */
  opacity: 0.9;
}

.mt-20 {
  margin-top: 20px;
}

button:focus {
  outline: 0;
}
