#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #f0f0f0;
}

.joinInnerContainer {
  width: 30%;
  transition: 0.2s all;
}

.joinInput {
  transition: 0.2s all;
  border: 0;
  border-radius: 30px;
  padding: 12px 16px;
  width: 100%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1em;
}

.heading {
  color: #444;
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 2px solid #444;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #43a3f0;
  padding: 15px 20px;
  border-radius: 30px;
  display: inline-block;
  border: none;
  width: 100%;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 16px;
}

.button:hover {
  /* transform: scale(0.97); */
  opacity: 0.9;
}

button:focus {
  outline: 0;
}

.joinInnerContainer .inputButtonContainer {
  padding: 0;
}
.joinInnerContainer .inputButtonContainer input {
  background: #fff;
}
