#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #f0f0f0;
}

.joinInnerContainer {
  width: 30%;
  min-width: 200px;
  transition: 0.2s all;
}
.joinInnerContainer section {
  padding: 0 7%;
  color: #333;
}
.joinInnerContainer section h2,
.joinInnerContainer section input {
  margin: 0;
}
.joinInnerContainer section input {
  border: 0 !important;
  border-radius: 30px !important;
  padding: 12px 16px !important;
  width: 100% !important;
  color: rgba(0, 0, 0, 0.7);
}

.heading {
  color: #444;
  font-size: 2em;
  padding-bottom: 10px;
  border-bottom: 2px solid #444;
}

.button-join {
  color: #fff !important;
  background: #43a3f0 !important;
  padding: 15px 20px !important;
  border-radius: 30px !important;
  width: 80%;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2) !important;
  transition: all 0.2s;
}

.button-join:hover {
  opacity: 0.9;
}

.joinInnerContainer .inputButtonContainer {
  padding: 0;
}
.joinInnerContainer .inputButtonContainer input {
  background: #fff;
}

.mid {
  margin: 20px 0;
}
