.messageBox {
  border-radius: 20px;
  padding: 5px 15px;
  color: white;
  max-width: 80%;
  display: flex;
  align-items: center;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  word-wrap: break-word;
  margin: 2% 0;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 { padding-left: 10px; }
.pr-10 { padding-right: 10px; }
.pb-0 { padding-bottom: 0; }

.justifyCenter { justify-content: center; }
.justifyStart { justify-content: flex-start; }
.justifyEnd { justify-content: flex-end; }

.colorWhite { color: white; }
.colorDark { color: #353535; }
.colorGray { color: #828282; }

.backgroundBlue { background: #43a3f0; }
.backgroundLight { background: #f3f3f3; }

.fullWidth { max-width: 100%; }
.textCenter { text-align: center; }