.chatContainer div.inputButtonContainer {
  padding-top: 5px;
  padding-bottom: 5px;
}
.chatInput {
  border-radius: 30px !important;
  /* margin: 10px 0 !important; */
}
.chatButton {
  cursor: auto !important;
  background: #fff !important;
  box-shadow: none !important;
}
#sendIcon {
  color: #bfbfbf;
  transition: all 0.1s;
}
#sendIcon.readyToPress {
  color: #43a3f0 !important;
  cursor: pointer;
}
