#videoPlayer {
  position: relative;
  padding-top: 56.25%;
  /* pointer-events:none;s */
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.ytp-pause-overlay-controls-hidden .ytp-pause-overlay,
.ytp-expand-pause-overlay .ytp-pause-overlay,
.ytp-scroll-min.ytp-pause-overlay,
.ytp-pause-overlay {
  display: none !important;
  bottom:-200px !important;
}