.settingsContainer {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  word-break: break-word;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px;
  font-weight: 500;
  & > div {
    text-align: center;
    margin-bottom: 20px;
  }
  & > div h3 {
    margin-bottom: 10px;
  }
  & > div input {
    white-space: nowrap;
    box-sizing: border-box;
    overflow-wrap: unset;
  }
}

.leaveButton {
  margin: 0 auto;
  background: #b53737;
  border: 0;
  color: #fff;
  padding: 15px 20px;
  width: fit-content;
  &:hover {
    opacity: 0.9;
  }
}
