.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #43a3f0;
  /* border-radius: 4px 4px 0 0; */
  /* height: 60px; */
  width: 100%;
}

.leftInnerContainer {
  flex: 0.8;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  flex: 0.2;
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}
.usersIconContainer {
  display: flex;
  align-items: center;
}
.onlineIcon {
  color: #69f0ae;
  margin: 0 5%;
}
.closeIcon,
.usersIconContainer {
  color: rgba(255, 255, 255, 0.7);
  margin: 0 5%;
  cursor: pointer;
  transition: all 0.2s;
}
.closeIcon:hover,
.usersIconContainer:hover {
  color: rgba(255, 255, 255, 0.8);
}
.closeIcon:active,
.usersIconContainer:active {
  color: rgba(255, 255, 255);
}
.usersIconContainer * {
  margin: 0 3px;
}