.videoSelectContainer {
  /* background:red; */
  padding: 15px;
}

.videoNavButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  /* background: #43A3F0; */
  /* background: #fff; */
  padding: 15px;
  display: inline-block;
  border: none;
  /* width: 20%; */
}
.videoNavIcon {
  color: #bfbfbf;
  transition: all 0.1s;
}
#nextVidIcon, #prevVidIcon {
  color: #bfbfbf;
}
.readyToPress {
  color: #43a3f0 !important;
  cursor: pointer;
}
.validReadyToPress {
  color: #23cba7 !important;
  cursor: pointer;
}
.readyToPress:hover,
.validReadyToPress:hover { opacity: 0.9; }