@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  font-family: "Open Sans", "Roboto", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.notification-parent {
  width: 82% !important;
}
.notification-content {
  padding: 15px;
}
.notification-info {
  background: #999;
  border-left: 8px solid #777;
}
