/* @import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  font-family: "Roboto", Helvetica, sans-serif !important;
  padding: 0;
  margin: 0;
}

/* * {
  font-family: "Roboto", Helvetica, sans-serif !important;
} */

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow-x: hidden;
}
/* .header {
  width: 100%;
  text-align: center;
  color: #43a3f0;
  background-color: #fff;
  font-family: 'Chelsea Market', cursive;
  font-size: 4em;
  padding: 10px;
  z-index: 99999;
} */
/* .two-col {
  display: flex;
}
.two-col-child {
  flex: 50%;
} */

.inputButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 0 10px;
}
.inputButtonContainer input {
  transition: 0.2s all;
  border: 0;
  border-radius: 30px;
  padding: 12px 20px;
  margin: 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9em;

  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.inputButtonContainer input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.inputButtonContainer button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #43a3f0;
  display: inline-block;
  border: none;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.9em;

  margin: 0;
  padding: 12px;
  width: auto;
  border-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inputButtonContainer button:hover {
  opacity: 0.9;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.notification-parent {
  width: 82% !important;
}
.notification-content {
  padding: 15px;
}
.notification-info {
  background: #999;
  border-left: 8px solid #777;
}
