#infoContainer {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  justify-content: space-between;
  word-break: break-word;

  position: relative;
  height: 100%;
  width: 100%;
  padding: 20px 10px;
}

.activeContainer {
  position: relative;
  margin: 0 25px;
}

.activeItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.activeContainer img {
  padding-left: 10px;
}

.infoContainer h2 {
  margin-bottom: 0px;
}

.activeItem .onlineIcon {
  color: #69f0ae;
  margin: 0 10px;
}

.copyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.break {
  flex-basis: 100%;
  height: 0;
}
#copyInput {
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: auto;
}
.copyButton {
  margin: 0;
  background: #43a3f0;
  border: 0;
  color: #fff;
  padding: 10px;
  border-radius: 0;
  width: auto;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.copyIcon {
  cursor: pointer;
}