@media (max-width: 720px) {
  body {
    overflow-x: hidden;
  }
  .panelContainer,
  .react-tabs__tab-panel {
    width: 100vw;
    height: 50vh;
  }
  .videoContainer {
    height: auto;
  }
  .outerContainer {
    display: block;
  }
  .single-col {
    display: flex;
    width: 100%;
  }
}
@media (max-width: 960px) {
  .searchInput {
    width: 100% !important;
  }
  .videoSearchContainer .inputButtonContainer {
    margin: 0 20px 20px 20px !important;
  }
  .joinInnerContainer {
    width: 80%;
  }
  .list-group-item {
    flex: 0 1 calc(50% - 1em);
  }
}
