.videoSelectContainer {
  /* background:red; */
  padding: 15px;
}

.sendUrlButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  /* background: #43A3F0; */
  /* background: #fff; */
  padding: 15px;
  display: inline-block;
  border: none;
  /* width: 20%; */
}
.sendUrlIcon {
  color: #bfbfbf;
  transition: all 0.1s;
}
#nextVidIcon {
  color: #bfbfbf;
}
.readyToPress {
  color: #43a3f0 !important;
  cursor: pointer;
}
.notReadyToPress {
  color: #e26a6a !important;
}
