.chatContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  height: 100%;
  width: 100%;
  font-size: 0.9em;
}

/* width */
::-webkit-scrollbar {
  width: 8px !important;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #bbb;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}