.videoContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 75vw;
  height: 100vh;
  background-color: #f0f0f0;
  overflow: auto;
  word-break: break-word;
  .ui.icon.header .icon {
    margin-bottom: 1rem;
  }
  .ui.placeholder.segment {
    background: transparent !important;
    box-shadow: none !important;
    border: 0 !important;
    margin-bottom: 1rem;
  }
}
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.actionIcons {
  display: flex;
  justify-content: center;
  .icon {
    margin-left: 5px !important;
    margin-right: 5px !important;
    cursor: pointer;
    &:hover {
      color: #43a3f0;
    }
  }
}
.actionButtons {
  .button {
    margin-bottom: 10px;
  }
}
