.messageBox {
  border-radius: 20px;
  padding: 9px 15px;
  color: white;
  max-width: 70%;
  display: flex;
  align-items: center;
}

.messageText {
  width: 100%;
  letter-spacing: 0.2px;
  float: left;
  word-wrap: break-word;
  margin: 0;
  img {
    vertical-align: middle;
  }
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 0 5%;
  margin: 3px 0;
  section {
    margin: 0 4px;
    display: flex;
    align-items: flex-end;
    img {
      /* width: 30px; */
      border-radius: 50%;
    }
  }
}

.sentText {
  display: flex;
  align-items: center;
  color: #828282;
  letter-spacing: 0.2px;
}

.pl-10 {
  padding-left: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.ptb-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.mtb-14 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.justifyCenter {
  justify-content: center;
}
.justifyStart {
  justify-content: flex-start;
}
.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}
.colorDark {
  color: #353535;
}
.colorGray {
  color: #828282;
}
.colorBlack {
  color: black;
}

.backgroundBlue {
  background: #43a3f0;
}
.backgroundLight {
  background: #f3f3f3;
}

.fullWidth {
  max-width: 100%;
}
.textCenter {
  text-align: center;
}
